---
import lineUpImage from "../images/Elemente_Mainpage_Lineup.png";
import RPImage from "../images/Elemente_Mainpage_Rahmenprogramm.png";
import FestivalInfosImage from "../images/Elemente_Mainpage_Festivalinfos.png";
import AboutImage from "../images/Elemente_Mainpage_Ueberuns.png";
import HelfenImage from "../images/Elemente_Mainpage_helfen.png";
import AwarenessImage from "../images/Elemente_Mainpage_Awareness.png";
import BarriereImage from "../images/Elemente_Mainpage_Barrierefreiheit.png";
---

<div class="content">
  <div class="title">kleinLaut Festival 28. - 29.7.2023</div>
  <div class="title-mobile">kleinLaut Festival 28. - 29.7.2023</div>
  <div class="box-up">
    <a class="nav-item" href="/lineup">
      <img src={lineUpImage} />
      <span class="nav-text">Lineup</span>
    </a>
    <a class="nav-item rahmenprogramm" href="/rahmenprogramm">
      <img src={RPImage} />
      <span class="nav-text">Rahmenprogramm</span>
    </a>
  </div>
  <div class="box-down">
    <a class="nav-item rahmenprogramm" href="/rahmenprogramm">
      <img src={RPImage} />
      <span class="nav-text">Rahmen-programm</span>
    </a>
    <a class="nav-item" href="/festivalinfos">
      <img src={FestivalInfosImage} />
      <span class="nav-text">Festivalinfos</span>
    </a>
    <div class="double-box">
      <a class="nav-item" href="/ueberuns">
        <img src={AboutImage} />
        <span class="nav-text">über uns</span>
      </a>
      <a class="nav-item" href="/helfen">
        <img src={HelfenImage} />
        <span class="nav-text">helfen</span>
      </a>
    </div>
    <div class="double-box">
      <a class="nav-item" href="/awareness">
        <img src={AwarenessImage} />
        <span class="nav-text">Awareness</span>
      </a>
      <a class="nav-item not-on-mobile" href="/barrierefreiheit">
        <img src={BarriereImage} />
        <span class="nav-text">Barrierefreiheit</span>
      </a>
      <a class="nav-item mobile" href="/barrierefreiheit">
        <img src={BarriereImage} />
        <span class="nav-text">Barriere-freiheit</span>
      </a>
    </div>
  </div>
</div>

<style>
  .content {
    overflow-x: hidden;
  }
  .title,
  .title-mobile {
    position: absolute;
    top: calc((100vh - 100px) / 2);
    font-family: "PicNic-Regular";
    font-size: 4em;
    text-align: center;
    height: 100px;
    width: 100%;
    animation-name: rightToLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .title {
  }

  @keyframes rightToLeft {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100vw);
    }
  }

  .title-mobile {
    display: none;
  }

  .box-up,
  .box-down {
    height: calc((100vh - 100px) / 2);
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .box-up {
    grid-template-columns: 2fr 1fr;
  }

  .box-down {
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .box-down .rahmenprogramm {
    display: none;
  }

  .double-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .nav-item {
    position: relative;
    max-height: calc((100vh - 100px) / 2);
    color: black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  .box-up .nav-item {
    max-height: calc((100vh - 104px) / 2);
  }

  .nav-item:hover {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .double-box .nav-item {
    max-height: calc((100vh - 100px) / 4);
  }

  .nav-item:focus-visible {
    border: 4px solid black;
    outline: none;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .nav-item img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .nav-text {
    position: absolute;
    left: 4px;
    top: 0;
    font-family: "PicNic-Regular";
    font-size: 2.5em;
  }

  .mobile {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .mobile {
      display: block;
    }

    .not-on-mobile {
      display: none;
    }
    .box-up .rahmenprogramm {
      display: none;
    }

    .box-up {
      grid-template-columns: 1fr;
      height: calc(100vh / 4);
    }

    .title {
      display: none;
    }
    .title-mobile {
      display: block;
      height: calc(100vh / 4);
      top: calc(100vh / 4);
      font-size: 2em;
      padding-top: 30px;
    }

    .box-down {
      height: calc(100vh / 2);
      grid-template-columns: 1fr 1fr;
    }

    .box-down .rahmenprogramm {
      display: block;
    }

    .box-up .nav-item img {
      max-height: calc(100vh / 4);
    }

    .nav-text {
      overflow-wrap: break-word;
      font-size: 1.5em;
    }
  }
</style>
